name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

env:
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: "1"

jobs:
  release:
    permissions:
      id-token: write # Required for trusted publishing
      contents: write
      pull-requests: write

    if: ${{ github.repository_owner == 'cloudflare' }}
    timeout-minutes: 5
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - run: npm ci
      - run: npm run build

      - id: changesets
        uses: changesets/action@v1.7.0
        with:
          version: npx tsx .github/changeset-version.ts
          publish: npx tsx .github/changeset-publish.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
